$dark-cyan: hsl(185, 75%, 39%);

.App {
  background-color: $dark-cyan;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  
  height: 100vh;

  .main {
    position: absolute;
    z-index: 2;
  }

  .top-bg-img {
    position: absolute;
    top: -10vh;
    left: -50vw;
    z-index: 0;
    
    @media screen and (min-width: 767px) {
      top: -100vh;
      left: -50vw;
    }
  }

  .bottom-bg-img {
    position: absolute;
    bottom: -10vh;
    right: -50vw;
    z-index: 0;
    

     @media screen and (min-width: 767px) {
      bottom: -100vh;
      right: -50vw;
    }
  }

  .bottom-bg-img, .top-bg-img {

    img {
      width: 100%;
    }


    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
